name: check

on:
  workflow_dispatch:
  pull_request:

jobs:
  test-building:
    name: test-building
    runs-on: ubuntu-latest
    env:
      RUST_BACKTRACE: 1
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "16"

      - uses: actions/cache@v3
        with:
          path: ~/.npm
          key: npm-${{ hashFiles('scripts/npm_dependencies.sh') }}

      - name: Install tailwindcss
        run: |
          npm install -g tailwindcss@3.2.4

      - name: Install npm dependencies
        run: |
          ./scripts/npm_dependencies.sh

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-unknown-unknown

      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true

      - name: Run tests
        run: |
          cargo test

      - name: Install trunk and wasm-bindgen-cli
        run: |
          cargo install trunk --version ~0.15 --locked
          cargo install wasm-bindgen-cli --version ~0.2 --locked

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Setup DBs
        run: |
          pip install -r ./scripts/cmudict/requirements.txt
          ./setup.sh

      - name: Build
        run: |
          trunk build

      - name: Test optimizing with binaryen and wasm-opt
        run: |
          python3 ./scripts/optimize.py ./dist
