name: deploy

on:
  workflow_dispatch:
  push:
    branches:
      - "main"

env:
  # Assign commit authorship to official Github Actions bot when pushing to the `web-deploy` branch:
  GIT_USER: "github-actions[bot]"
  GIT_EMAIL: "41898282+github-actions[bot]@users.noreply.github.com"

jobs:
  build:
    uses: ./.github/workflows/build.yml
    secrets: inherit

  deploy:
    name: deploy
    needs: [build]
    runs-on: ubuntu-latest
    env:
      RUST_BACKTRACE: 1
    steps:
      - name: Configure git user and email
        run: |
          git config --global user.name ${GIT_USER}
          git config --global user.email ${GIT_EMAIL}
          echo Name: $(git config --get user.name)
          echo Email: $(git config --get user.email)

      - name: GitHub Pages action
        uses: peaceiris/actions-gh-pages@v3.9.2
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: web-deploy
      # - name: Deploy on CFP
      #   run: |
      #     curl -X POST ${{ secrets.OPAL_WEB_HOOK }}
